<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Dog Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Dog Training Tracker</h1>
    </header>

    <main>

        <section class="hero">

            <h2>Add Dog Profile</h2>

            <form>

                <input type="text" placeholder="Dog Name">

                <br><br>

                <input type="text" placeholder="Breed">

                <br><br>

                <input type="number" placeholder="Age">

                <br><br>

                <button type="submit">Save Dog Profile</button>

            </form>

        </section>

    </main>

</body>
</html>