<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Training Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Dog Training Tracker</h1>
    </header>

    <main>
        <section class="hero">

            <h2>Track Your Dog Training Progress</h2>

            <p>
                Organise training sessions, monitor progress,
                and manage dog training records in one place.
            </p>
            <a href="/login">
            <button>Login here</button>
            </a>

            <br><br>

            <a href="/add-dog">
                <button> Add your dog profile</button
            </a>
            <br><br>

            <a href="/view-dogs">
                <button>View Dog Profiles</button>
            </a>
        </section>
    </main><br><br>

    <a href="/view-dogs">
        <button>View Dog Profiles</button>
    </a>

</body>
</html>